@{
    ViewData["Title"] = "Home Page";
}

<div  >
    <h1 class="display-4">Programa para Elevador</h1>
    <p>A presente Página tem por objetivo explicitar o funcionamento do programa para o Trabalho Final da Jornada Microsoft Samsung Ocean</p>
</div>

<div  >
    <h2 class="display-5">Programa solicitado</h2>
    <p>O projeto será um software que tem como função o gerenciamento de um elevador, ele terá as funções de inicializar, entrar, sair, subir e descer.   </p>
 

<h1> Sistema </h1>

<h3> Menu Inicial</h3>
<div class="tela">
    <img height="400px" src="~/img/tela01.PNG"   />
<div class="legenda">
    Iniciando o programa ele apresentará o seguinte Menu <br/>
    O Usuário então será responsável por Inicializar o Elevador com as propriedades desejadas.
</div>
</div>
<h3> Inicializar</h3>
<div class="tela">
    <img height="200px" src="~/img/tela02.PNG"   />
<div class="legenda">
    Utilizando a Opção 1 do menu será inquerido quantos andares e qual a capacidade do elevador bem como a redefinição de seus andares caso seja a segunda vez em que se inicializa
</div>
</div>
<h3> Entrar</h3>
<div class="tela">
    <img height="200px" src="~/img/tela03.PNG"   />
<div class="legenda">
    Utilizando a Opção 2 Será inquerida a quantidade de Passageiros a Adentrar no Elevador
</div>
</div>
<h3> Excedeu a capacidade</h3>
<div class="tela">
    <img height="200px" src="~/img/tela04.PNG"   />
<div class="legenda">
    Caso seja maior que a capacidade o programa informará a capacidade foi excedida
</div>
</div>
<h3> Sair</h3>
<div class="tela">
    <img height="200px" src="~/img/tela05.PNG"   />
<div class="legenda">
    Utilizando a Opção 3 Será inquerida a quantidade de Passageiros a ser Retirada no Elevador
</div>
</div>
<h3> Não existem mais passageiros</h3>
<div class="tela">
    <img height="200px" src="~/img/tela06.PNG"   />
<div class="legenda">
    Caso a quantidade seja maior que a de ocupantes o programa informará

</div>
</div>
<h3> Subir Andares</h3>
<div class="tela">
    <img height="200px" src="~/img/tela07.PNG"   />
<div class="legenda">
  Utilizando a Opção 4 Será inquerida a quantidade de Andares para subir
</div>
</div>
<h3> Último Andar</h3>
<div class="tela">
    <img height="200px" src="~/img/tela08.PNG"   />
<div class="legenda">
    Caso o andar seja acima do numero de andares o programa não aceitará
</div>
</div><h3> Descer</h3>
<div class="tela">
    <img height="200px" src="~/img/tela09.PNG"   />
<div class="legenda">
    
   Utilizando a Opção 5 Será inquerida a quantidade de Andares para descer
     
</div>
</div><h3> Terreo</h3>
<div class="tela">
    <img height="200px" src="~/img/tela10.PNG"   />
<div class="legenda">
    
    Caso o elevador esteja no terreo o programa não aceitará
</div>
</div>

<h3> Status do Elevador</h3>
<div class="tela">
    <img height="200px" src="~/img/tela11.PNG"   />
<div class="legenda">
    Utilizando a Opção 6 o usuário poderá saber quantos passageiros e qual o andar do elevador
</div>
</div><h3> Sair do Sistema</h3>
<div class="tela">
    <img height="200px" src="~/img/tela12.PNG"   />
<div class="legenda">
  Utilizando a Opção 0 o usuário encerrará o programa
</div>
</div>